h1 {
    text-align: center;
    color: rgb(33, 78, 73);
  }

nav {
    background-color: rgb(101, 105, 111);
    padding: 10px;
}

body {
  text-align: center;
  background-color: darkgray
}

main {
  margin-right: 20px;
  margin-left: 20px;
}

h3 {
  color: beige;
}

