h1 {
    text-align: center;
    color: rgb(68, 183, 171);
  }

nav {
    background-color: rgb(101, 105, 111);
    padding: 10px;
}

body {
  background-color: rgb(71, 120, 136);
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

